:local(.rootStyle) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .loading {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }

  .data {
    margin: 20px;

    .node {
      .node-icon {
        &.rotate {
          transform: rotate(180deg);
        }
      }

      .node-subitems {
        margin-left: 10px;
      }
    }
  }

  .error {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
}
